/* You can add global styles to this file, and also import other style files */


body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 3vh 3vw;
}

mat-card.main{
  margin-top: 3vh;
}

mat-card > mat-card-title.mat-card-title {
  margin-bottom: 2vh;
  padding: 1vh 1vw;
  border-radius: 0.2rem;
  background-color: #222222;
}
